name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt update -y
          sudo apt install -y python3-pip python3-setuptools git zip openjdk-17-jdk
          pip install --upgrade pip
          pip install --upgrade buildozer cython

      - name: Accept Android Licenses
        run: |
          yes | sdkmanager --licenses || true

      - name: Build APK
        run: |
          buildozer android debug
