Name: Android CI
​on: [push]
​jobs:
build:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v4
- uses: actions/setup-python@v5
with:
python-version: '3.11'  - name: Cache Buildozer
    uses: actions/cache@v4
    with:
      path: .buildozer
      key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}
  
  - name: Build Kivy App
    uses: xloem/buildozer-action@v1
    with:
      # تم تغيير الأمر إلى debug لتجاوز أخطاء التوقيع (Signing)
      command: buildozer android debug 
      
  - name: Upload Artifact
    uses: actions/upload-artifact@v4
    with:
      name: Hekaya-VIP-APK
      # هذا هو المسار الذي يتم فيه حفظ ملف APK بعد البناء
      path: bin/*.apk
